.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "reviews reviews form"
        "companyDescription carousel carousel"
        "services services services"
        "locations locations map"
        "footer footer footer";
        grid-template-columns: 1fr 4fr 4fr;
        /* grid-template-rows: 60px 60px 60px; */
}

.header {
    grid-area: header;
    /* background-color: blue; */
    color: green;
}

.reviews {
    grid-area: reviews;
    background-color: lightblue;
}

.form {
    grid-area: form;
    background-color: lightgreen;
}

.companyDescription {
    grid-area: companyDescription;
    background-color: lightcoral;
}

.carousel {
    grid-area: carousel;
    background-color: lightgoldenrodyellow;
}

.services {
    grid-area: services;
    background-color: lightpink;
}

.locations {
    grid-area: locations;   
    background-color: lightgray;
}

.map {
    grid-area: map;
    background-color: lightcyan;
}

.footer {
    grid-area: footer;
    background-color: lightseagreen;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

.login-form button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: darkblue;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-img {
    background-image: url('');
    background-color: blueviolet;
    max-height: 378px;
}

.phone-num-btn {
    background-color: brown;
    max-width: 242px;
}